
VITE_FIREBASE_API_KEY="AIzaSyAldswCMek-JKafaWHHfY-HL5qydsJAMbs"
VITE_FIREBASE_AUTH_DOMAIN="campus-connect3.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="campus-connect3"
VITE_FIREBASE_STORAGE_BUCKET="campus-connect3.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="563269243902"
VITE_FIREBASE_APP_ID="1:563269243902:web:9d5c3126baedf024f7a6af"
VITE_FIREBASE_MEASUREMENT_ID="G-KFLZJGJW7Z"
VITE_GEMINI_API_KEY="AIzaSyBkIxlk4w-1TNtEXWt9osCiCvOw-wXjB18"